body{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    display: flex;
    overflow: hidden;
}
.section1 {
    width: 30%;
    background-color: black;
    height: 100vh;
}
h5{
    position: absolute;
    color: white;
    bottom: 0;
    margin-bottom: 3px;
    font-weight: 100;
    opacity: .1;
}
.logo {
    width: 60px;
    height: 60px;
    margin: 10px 30px;
}
.section2 {
    position: absolute;
    background-color: rgb(201, 191, 54);
    width: 500px;
    height: 500px;
    top: 50%;
    border-radius: 50%;
    left: 46%;
    transform: translate(-100%,-50%);
}
.section3{
    width: 650px;
    height: 500px;
    position: absolute;
    top: 52%;
    left: 50.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-100%,-50%);
}
.section3 img {
    width: 100%;
}
.section4{
    width: 70%;
    height: 100vh;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1px solid black;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
ul {
    display: flex;
}
ul li {
    display: block;
    width: 30%;
    margin-left: 40px;
}
.left li a::after{
    content: "▼";
    width: inherit;
    opacity: 0.5;
    margin-left: 5px;
    height: inherit;
}
.left li a:hover{
    color: rgb(100, 58, 58);
}

nav .left li:first-of-type{
    margin-left: 0;
}
nav .right li:last-of-type{
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/bg.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
main div {
    width: 50%;
    margin-left: 25%;
}
main div h6 {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
}
main div h1 {
    font-size: 4rem;
    margin: 0;
}
p {
    color: grey;
    width: 60%;
    line-height: 1.7;
    letter-spacing: 0.5px;
}
main div .shop-now{
    display: block;
    width: 30%;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 13px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 40px;
    box-shadow: black 0 10px 10px -10px;
}
main div .shop-now:hover{
    background-color: white;
    color: black;
}
.other-images {
    width: 80%;
    margin: 50px 0 0 0;
    z-index: 120;
}
.other-images img {
    width: 100px;
    margin-left: 15px;
    height: 60px;
}
.other-images img:first-of-type{
    margin: 0;
}